*{
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4c4c4c;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
h1{
    font-weight: 100;
    display: inline;
}
.wraper{
    width:100%;
    max-width: 600px;
}
.task{
list-style: none;
padding: 0;
}
.taskItem {
    padding: 1.1rem 1.3rem;
    background: #65c1d2;
    display: flex;
    width: 100%;
    height: 4.3rem;
    margin-bottom: 0.5rem;
    box-shadow: 1px 1px 1px #000;
    transition: box-shadow 0.3s ease-in-out;
}
.taskItem:hover{
    box-shadow: 0 0 0 white;
}

a{
    text-decoration: none;
}
.titleTask {
    text-decoration: none;
    align-self: flex-end;
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.4;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.edit {
    margin-left: auto;
    align-self: center;
    border: 1px solid #4f8290;
    color: #333;
    padding: 3px 10px;
    font-weight: 100;
    transition: all 0.5s cubic-bezier(0, 1.96, 0.68, -0.05);
}
.edit:hover{
    background:rgb(76, 201, 208);
    color:white;
}
.delete {
    margin-left: 10px;
    align-self: center;
    background: rgb(228, 0, 0);
    color: white;
    padding: 3px 10px;
    font-weight: 100;
    transition: all 0.5s cubic-bezier(0, 0.58, 1, 0.1);
}
.delete:hover{
    background:white;
    color:rgb(255, 106, 106);   
}
.data{
    position: absolute;
    color: #777;
    margin-top: -7px;
    font-size: 0.7rem;
}
.new{
    color:yellowgreen;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.new:hover{
    text-shadow: 1px 1px 1px #ddd;
}
.back{
    color:yellowgreen;
    padding-left:3px;   
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
}
.back:hover{
    text-shadow: 1px 1px 1px #ddd;
}
h3{
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
}
.detail {
    padding: 0.1rem 1.3rem;
    padding-bottom: 1rem;
    margin-top: 0.7rem;
    background: #65c1d2;
    width: 100%;
    margin-bottom: 0.5rem;
    box-shadow: 1px 1px 1px #000;
    transition: box-shadow 0.5s cubic-bezier(0, 1.96, 0.68, -0.05);
}
.detail:hover{
    box-shadow: 0 0 0 white;
}
.created{
    float:left;
}
.modifyed{
    text-align: right;
}
textarea#id_text {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    border: 1px solid #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    height: 100px;
    background: #65c1d2;
}
input#id_title {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    border: 1px solid #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background: #65c1d2;
}
input[type='submit'] {
    background: #6ab95d;
    border: none;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    float: right;
    border: 1px solid greenyellow;
    padding: 5px 10px;
    transition: background 500ms cubic-bezier(0, 1.96, 0.68, -0.05);
}
input[type='submit']:hover{
    background: #ccffbc;
}